@import "./Variable";

.faq {
  background-color: $color-bg;
  margin: 5rem 0;
  padding: 5rem 0;
  text-align: center;
  .container {
    background-color: unset;
    .faq-box {
      .faq-tittle {
        margin: 2rem 0;
        .faq-tittle--h2 {
          margin: 1rem 0;
          font-size: 2.5rem;
          font-weight: 600;
        }
        .faq-tittle--h4 {
          padding: 2rem 0;
          font-weight: 400;
          font-size: 1.3rem;
        }
      }
    }
  }
}
